@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$roboto-font: 'Roboto', sans-serif;
$noto-sans-font: 'Noto Sans', sans-serif;

$width-max: 768px;
$width-breakpoint: 480px;
$width-min: 320px;

$main-font-color: black;
$white-font-color: white;
$header-footer-font-size: 24px;
$regular-font-size: 14px;

$header-footer-color: #C4C4C4;
$first-small-blocks-group-color: #E8EBED;
$second-small-blocks-group-color: #FFAA87;


