.b-header-footer {
  width: 100%;
  display:table;
  height: 90px;
  text-align: center;
  font-size: $header-footer-font-size;
  background-color: $header-footer-color;
  padding-bottom: 8px;
    &__content {
        display: table-cell;
        vertical-align: middle;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .b-header-footer {
        &_margin-bottom {
            margin-bottom: 10px;
        }
        &_margin-top {
            margin-top: 10px;
        }
    }
}